@model WordSearchWeb.Models.WordSearchModel
@{
    ViewBag.Title = "Home Page";
}

@Scripts.Render("~/bundles/jquery")
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <div id="canvasParent" class="col-md-6">
        <!-- <canvas id="canvasGrid" height="300" style="border:1px solid black;width:80%"></canvas> -->
    </div>
    <div class="col-md-3">
        <div class="input-group" style="width:100%">
            <input id="inputWord" type="text" class="form-control" placeholder="Enter Word..." style="max-width:none">
            <span class="input-group-btn">
                <button id="buttonAdd" class="btn btn-primary" type="button">Add</button>
            </span>
        </div>
        <br />
        <div class="form-inline">
            <div class="form-group">
                <label for="inputRows">Rows</label>
                <input id="inputRows" type="text" class="form-control" value="20" />
            </div>
        </div>
        <div class="form-inline">
            <div class="form-group">
                <label for="inputRows">Cols</label>
                <input id="inputCols" type="text" class="form-control" value="20" />
            </div>
        </div>
        <div style="width:100%">
            <ul id="wordList" class="list-group">
                <li class="list-group-item active">List of Words</li>
                @for (var i = 0; i < Model.Words.Count; i++)
                {
                    <li class="list-group-item addedWord">@Html.DisplayFor(m => m.Words[i])</li>
                    @Html.HiddenFor(m => m.Words[i])
                }
            </ul>
        </div>
        <div>
            <button id="buttonCreateWordSearch" class="btn btn-info" type="button">Create Word Search</button>
        </div>
    </div>
}

<script type="text/javascript">
    function createWordSeach() {    
        var url = '@Url.Action("GenerateWordSearchGrid")';

        var wordsArray = [];
        $("li.addedWord").each(function (i, word) {
            console.log(word.innerHTML);
            wordsArray.push(word.innerHTML);
        });

        var rows = $("#inputRows").val();
        var cols = $("#inputRows").val();

        console.log("rows: " + rows);
      
        dataToSend = JSON.stringify({
            words: wordsArray,
            row: rows,
            col: cols
        });

        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: 'POST',
            url: url,
            data: dataToSend,
            success: function (data) {
                createGrid(data);
            }
        })    
    }
</script>

@Scripts.Render("~/Scripts/WordSearch/ElementScripts.js");
@Scripts.Render("~/Scripts/WordSearch/WordSearch.js");