@using WordSearchWeb.Properties
@model WordSearchWeb.Models.WordSearchDisplayModel
@{
    ViewBag.Title = "Home Page";
}

<div id="pageHeader">WordSearch Generator</div>

<div class="page-header" style="padding-top:20px;">
    <h1>@Model.Title&nbsp;<small>@Model.Description</small></h1>
</div>
<br />
<br />

<div class="centre80">
    <div id="divWordList">
        <ul id="ulWordList"> <!-- style="text-align:center;padding:0;list-style-type:none"> -->
            @for (var w = 0; w < Model.HiddenWords.Count; w++)
            {
                <li class="hiddenWord"
                    data-start-col="@Model.HiddenWords[w].Start.Column"
                    data-start-row="@Model.HiddenWords[w].Start.Row"
                    data-direction="@Model.HiddenWords[w].Direction"
                    data-wordNo="@w">
                    @Model.HiddenWords[w].Word.Trim()
                </li>
            }
        </ul>
    </div>
    <div class="shadow floatLeft">
        <table id="grid" class="font16 blackBorder tableBorderCollapse">
            @for (var r = 1; r <= Model.Rows; r++)
            {
                <tr>
                    @for (var c = 1; c <= Model.Columns; c++)
                    {
                        var id = r.ToString() + "_" + c.ToString();
                        <td id="@id" class="letter cursorDefault font20 centreText paddingLeftRight5 greyBorder">@Model.Grid[r - 1, c - 1]</td>
                    }
                </tr>
            }
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        console.log("document");
    })
</script>
@Scripts.Render("~/Scripts/WordSearch/WordSearchElements.js")
