@using WordSearchWeb.Properties
@model WordSearchWeb.Models.WordSearchDisplayModel
@{
    ViewBag.Title = "Home Page";
}

<div class="page-header">
    <h1>@Model.Title&nbsp;<small>@Model.Description</small></h1>    
</div>
<br />
<br />

<div style="width:70%;margin:auto">
    <div style="float:left;margin-right:40px;font: 18px/30px Georgia;">        
        <ul style="list-style-type: none">           
            @for (var w = 0; w < Model.HiddenWords.Count; w++)
            {
                <li class="hiddenWord"
                    data-start-col="@Model.HiddenWords[w].Start.Column"
                    data-start-row="@Model.HiddenWords[w].Start.Row"
                    data-direction="@Model.HiddenWords[w].Direction"
                    data-wordNo="@w" style="text-align: center;">
                    @Model.HiddenWords[w].Word.Trim()
                </li>
            }          
        </ul>
    </div>    
    <div style="float: left;box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;">
        <table id="grid" style="font-size:16px; border: 1px black solid">
            @for (var r = 1; r <= Model.Rows; r++)
            {
                <tr>
                    @for (var c = 1; c <= Model.Columns; c++)
                    {
                        var id = r.ToString() + "_" + c.ToString();
                        <td id="@id" style="font-size:18px;text-align:center; padding-left:5px;padding-right:5px;">@Model.Grid[r - 1, c - 1]</td>
                    }
                </tr>
            }
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        console.log("document");
    })
</script>
@Scripts.Render("~/Scripts/WordSearch/WordSearchElements.js")
